.checkout__product {
  padding: 30px 15px;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 1px;
  border-radius: 5px;
  margin: 2%;
  width: auto;
}

p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  margin: 4px 0;
}

.checkout__product__price {
  font-size: 24px;
  font-weight: 900;
  color: #ff9f00;
}

.checkout__product__rating {
  display: flex;
}

.checkout__product__image {
  max-width: 150px;
  height: auto;
  margin: 0 24px;
}

.checkout__product__addToCart {
  background-color: #ff9f00;
  border: none;
  padding: 8px 25px;
  font-weight: 800;
}
