.header {
  display: flex;
  align-items: center;
  background-color: #131921;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
  color: #ff9f00;
  margin: 0 25px;
  flex: 1;
}

.header__search {
  margin: 0 3%;
  display: flex;
  align-items: center;
  flex: 2;
}

.header__searchInput {
  width: 100%;
  height: 36px;
}

.header__searchIcon {
  padding: 8px 24px;
  background-color: #ff9f00;
  color: #131921;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #ececec;
  flex: 1;
}

.nav__item {
  display: flex;
  flex-direction: column;
  margin: 0 25px;
  font-size: 10px;
  width: max-content;
  align-items: center;
}

.nav__itemLineTwo {
  font-weight: bold;
}

.RouterLink {
  text-decoration: none;
  color: #ececec;
}
